// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Add your own colors like this:

// Personal Color Scheme
$teal: #68B0AB;
$dark-teal: #006A71;
$light-teal: #ECF4F3;
$peach: #FF7E67;
$dark-peach: #f55a3f;
$light-peach: #fcdbd4;
