.event-wrapper {
  width: 60%;
  margin: 0 auto;
  margin-top: 36px;

  h1 {
    color: $peach;
    font-family: 'Paytone One', sans-serif;
    font-size: 30px;
  }

  h2 {
    font-family: 'Paytone One', sans-serif;
    font-size: 16px;
    opacity: 0.7;
  }

  .host {
    justify-content: center;
  }
}

.date-time-place {
  background-color: white;
  padding: 20px;
  width: 45%;

  p {
    margin: 0;
    font-size: 14px;
  }
}

.description-participants {
  background-color: white;
  padding: 20px;
  width: 55%;
  p {
    span {
      font-weight: 300;
    }
  }
}

.avatar-participants-wrapper {
  margin-top: -12px;
}
