.event-wrapper {
  width: 50%;
  margin: 0 auto;

  h1 {
    color: $peach;
    font-family: 'Paytone One', sans-serif;
    font-size: 30px;
  }

  h2 {
    font-family: 'Paytone One', sans-serif;
    font-size: 16px;
  }

  .host {
    justify-content: center;
  }
}

.date-time-place {
  background-color: white;
  padding: 20px;
  width: 40%;

  p {
    margin: 0;
  }
}

.description-participants {
  background-color: white;
  padding: 20px;
  width: 60%;
  p {
    span {
      font-weight: 300;
    }
  }
}

#back-to-events {
  a {
    text-decoration: none;
  }
}
