

.event-wrapper {
  width: 40%;
  margin: 0 auto;

  h1 {
    color: $peach;
    font-family: 'Paytone One', sans-serif;
    font-size: 30px;
  }

  h2 {
    font-family: 'Paytone One', sans-serif;
    font-size: 16px;
  }
}

.event-details-wrapper {
  border-radius: 8px;
  padding: 20px;
}
