<%# <div class="footer mt-2">
  <div class="footer-links text-center">
    <a href="#"><i class="fab fa-github px-1"></i></a>
    <a href="#"><i class="fab fa-instagram px-1"></i></a>
    <a href="#"><i class="fab fa-facebook px-1"></i></a>
    <a href="#"><i class="fab fa-twitter px-1"></i></a>
    <a href="#"><i class="fab fa-linkedin px-1"></i></a>
  </div>
<div class="mt-1">
  <div class="footer-copyright text-center">
    <h5 class="mb-2">We code for you with <i class="fas fa-heart"></i> your TravelMap team</h5>
    <p>Copyright © -2022- TravelMap Inc. All Rights NOT Reserved.</p>
  </div>

<div class="footer container">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  </div>
</div> %>



<section> </section>
<footer class="footer-distributed">

      <div class="footer-left">

        <h3>Travel<span>Map</span></h3>

        <p class="footer-links">
          <a href="#" class="link-1">Home</a>

          <a href="#">Blog</a>

          <a href="#">Pricing</a>

          <a href="#">About</a>

          <a href="#">Faq</a>

          <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">Travel map © 2020</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>IJsbaanpad 12, 1076 CV </span> Amsterdam, Netherlands</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+353.318.347.9252</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">support@travelmap.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the company</span>
          The world's largest travel platform, making your trip the best trip. Go ahead and start your travels with us, the ultimate travel companion.
        </p>

        <div class="footer-icons">

          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>

        </div>

      </div>

    </footer>
