<div class="footer mt-2">
  <div class="footer-links text-center">
    <a href="#"><i class="fab fa-github px-1"></i></a>
    <a href="#"><i class="fab fa-instagram px-1"></i></a>
    <a href="#"><i class="fab fa-facebook px-1"></i></a>
    <a href="#"><i class="fab fa-twitter px-1"></i></a>
    <a href="#"><i class="fab fa-linkedin px-1"></i></a>
  </div>
<div class="mt-1">
  <div class="footer-copyright text-center">
    <h5 class="mb-2">We code for you with <i class="fas fa-heart"></i> your TravelMap team</h5>
    <p>Copyright © -2022- TravelMap Inc. All Rights NOT Reserved.</p>
  </div>
