<div class="container mt-5">
  <h1 class="text-center">Calendar</h1>
  <%= month_calendar(events: @events, end_attribute: :end_time) do |date, events| %>
    <%= date %>

    <% events.each do |event| %>
      <div class="event">
        <p><%= event.name %></p>
      </div>
    <% end %>
  <% end %>
</div>

<%# Show message on top: X people have an event on the same dates %>
