
<div class="container mt-3">
  <h1>Welcome to TravelMap</h1>
</div>



<%# Jose wrote this search code %>
<% if false %>
  <%= form_with url: posts_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a city"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
<% end %>
