<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="container">
  <%= form_with url: posts_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a post"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
