.btn-peach {
  color: white;
  padding: 8px 24px;
  border: 1px solid $peach;
  border-radius: 50px;
  background-color: $peach;
  font-weight: 400;
  text-decoration: none;
  transition: background 70ms ease-in-out;

  &:hover {
    background-color: $dark-peach;
    border: 1px solid $dark-peach;
    color: white;
    text-decoration: none;
  }
}

.btn-peach-outline {
  color: $peach;
  padding: 8px 24px;
  border: 1px solid $peach;
  border-radius: 50px;
  background-color: transparent;
  font-weight: 600;
  text-decoration: none;
  a

  &:hover {
    background-color: transparent;
    border: 1px solid $dark-peach;
    color: $dark-peach;
    text-decoration: none;
  }
}

.btn-teal {
  color: white;
  padding: 8px 24px;
  border: 1px solid $teal;
  border-radius: 50px;
  background-color: $teal;
  font-weight: 400;
  text-decoration: none;
  transition: background 70ms ease-in-out;

  &:hover {
    background-color: $dark-teal;
    border: 1px solid $dark-teal;
    color: white;
    text-decoration: none;
  }
}

.btn-teal-outline {
  color: $teal;
  padding: 8px 24px;
  border: 1px solid $teal;
  border-radius: 50px;
  background-color: transparent;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.3s ease;

  &:hover {
    background-color: transparent;
    border: 1px solid $dark-teal;
    color: $dark-teal;
    text-decoration: none;
  }
}

// Buttons for navbars

.btn-search {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  padding-left: 0;
  transition: color 70ms ease-in-out;

  &:hover {
    color: $dark-teal;
  }
}

.btn-search-hp {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  padding-left: 0;
  transition: color 70ms ease-in-out;

  &:hover {
    color: $peach;
  }
}

.title-btn:hover {
  cursor: pointer;

}

// Additional button styles if needed

// .btn-grey {
//   color: white;
//   padding: 8px 24px;
//   border: 1px solid $warm-gray;
//   border-radius: 8px;
//   background-color: $warm-gray;
//   font-weight: 600;
//   text-decoration: none;
//   transition: background 70ms ease-in-out;

//   &:hover {
//     background-color: $dark-gray;
//     border: 1px solid $dark-gray;
//     color: white;
//     text-decoration: none;
//   }
// }

// .btn-grey-outline {
//   color: $dark-gray;
//   padding: 8px 24px;
//   border: 1px solid $dark-gray;
//   border-radius: 8px;
//   background-color: transparent;
//   font-weight: 600;
//   text-decoration: none;
//   transition: background 0.3s ease;

//   &:hover {
//     background-color: transparent;
//     border: 1px solid $warm-gray;
//     color: $warm-gray;
//     text-decoration: none;
//   }
// }

// .btn-search {
//   background-color: $dark-peach;
//   color: white;
//   padding: 2px 6px;
//   border: 1px solid $dark-peach;
//   border-radius: 50px;
//   transition: background 70ms ease-in-out;

//   &:hover {
//     background-color: $dark-peach;
//     border: 1px solid $dark-peach;
//     color: white;
//     text-decoration: none;
//   }
// }

// .btn-search-hp {
//   background-color: $peach;
//   color: white;
//   padding: 2px 6px;
//   border: 1px solid $peach;
//   border-radius: 50px;
//   transition: background 70ms ease-in-out;

//   &:hover {
//     background-color: $dark-peach;
//     border: 1px solid $dark-peach;
//     color: white;
//     text-decoration: none;
//   }
// }
