.calendar-wrapper {
  width: 75%;
  margin-top: 36px;
}

.heading-wrapper {
  h1 {
    color: $peach;
    font-family: 'Paytone One', sans-serif;
    font-size: 40px;
    margin: 0;
  }
}

.simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: #FAF3DD;
  }

  .calendar-title {
    color: $dark-teal;
  }
}

.event {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $teal;
  transition: background 0.3s ease;
}

.event-link {
  text-decoration: none;
}

.event:hover {
  background: $dark-teal;
  color: white;
}

.filter-by-city-search {
  form {
    margin: 0;
  }

  .filter {
    justify-content: center;
  }

    input {
      width: 250px;
    }

    #submit {
      width: 100px;
    }
}

.chevron {
  color: $teal;
  font-family: 'Paytone One', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    color: $dark-teal;
  }
}

tbody {
  a {
    margin: 2px;
  }
}

// .scrollable {
//   width: 100%;
//   height: 100%;
//   overflow: scroll;
// }
