.footer {
  background-color: $peach;
  color: white;
  padding: 20px;
  height: 110px;
}

.footer-links a {
  color: white;
  font-size: 20px;

  &:hover {
    color: $teal;
  }
}

.footer {
  p {
    font-size: small;
    font-weight: 200;
  }
}

.footer {
  h5 {
    font-weight: 300;
  }
}
