.is-valid {
  background-image: none !important;
  background-color: none !important;
}

.form-wrapper {
  width: 50%;
  margin: 0 auto;
}

.form-inputs {
  input:not(.btn-peach) {
    background-color: white;
    border: none;
    border-radius: 8px;
  }
}

.post_description {
  textarea {
    background: white;
    border: none;
    border-radius: 8px;
  }
}

#form-heading {
  color: $peach;
  font-family: 'Paytone One', sans-serif;
  font-size: 32px;
  margin: 0;
}

.tag-item {
  display: inline-block;
}

.category-wrapper {
  display: flex;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: $light-peach;
  color: $dark-peach;
  border: 1px solid $dark-peach;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.category-selector:checked + label {
  background-color: $dark-peach;
  color: white;
}


// Form for events

.form-events {
  input:not(.btn-peach) {
    background: white;
    border: none;
    border-radius: 8px;
  }
}

.event_description {
  textarea {
    background: white;
    border: none;
    border-radius: 8px;
  }
}
