.mapboxgl-popup {
  max-width: 150px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-size: small;
}

.mapboxgl-canvas {
  height: 100% !important;
  width: 100% !important;
}

.mapboxgl-canvas-container {
  height: 100%;
}

.mapboxgl-canary {
  height: 100%;
}
