.navbar-pages {
  justify-content: space-between;
  background: $peach;
  transition: 0.5s background-color ease;
  height: 90px;
}

.nav-item {
  padding: 0 1px;
  a {
    &:hover {
      color: $dark-teal;
    }
  }
}

.navbar-pages .navbar-collapse {
  flex-grow: 0;
}

.navbar-pages .navbar-brand img {
  width: 80px;
}

.icon-camera a {
  all: unset;
}

.navbar-collapse {
  a {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.dropdown-menu a {
  background-color: $dark-teal;

  &:hover {
    background-color: $teal;
    color: white;
  }
}
