.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  padding-left: 8px;
  padding-right: 8px;
  transition: 0.5s background-color ease;
}

.nav-item-hp {
  padding: 0 1px;
  font-size: 17px;

  a {
    &:hover {
      color: $peach;
    }
  }
}

.searchbar {
  input {
    border: none;
  }

  input::placeholder {
    font-size: 13px;
    font-weight: 400;
    opacity: .7;
  }
}

#logo-navbar-hp {
  width: 66px;
  height: auto;
}

.navbar-lewagon-peach {
  background-color: $peach;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.icon-camera a {
  all: unset;
}

.navbar-collapse {
  a {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.form-control {
  border-radius: 25px;
  margin-right: 10px;
}
