.navbar-pages {
  justify-content: space-between;
  background: $peach;
  padding-left: 8px;
  padding-right: 8px;
  transition: 0.5s background-color ease;
  height: 90px;
}

.nav-item {
  padding: 0 1px;
  font-size: 17px;

  a {
    &:hover {
      color: $dark-teal;
    }
  }
}

#last-nav-item {
  padding-right: 12px;
}

#logo-navbar {
  width: 66px;
  height: auto;
}

.navbar-pages .navbar-collapse {
  flex-grow: 0;
}

.navbar-pages .navbar-brand img {
  width: 50px;
}

.icon-camera a {
  all: unset;
}

.navbar-collapse {
  a {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.dropdown-menu {
  --bs-dropdown-min-width: 6rem;
}

#dropdown-item {
  background-color: white;
  color: $dark-teal;
  text-shadow: none;
  text-align: center;
  transition: color 70ms ease;

  &:hover {
    color: $teal;
  }
}
